h1 {
  font-family: helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
ol {
  list-style-type: none;
}
li {
  display: inline-block;
  width: 20rem;
  text-align: center;
  margin: 1rem;
}
li a {
  text-decoration: none;
  color: inherit;
}
li img {
  padding: 1rem 1rem 0rem 1rem;
}
.badge {
  text-align: center;
  position: relative;
  top: -3rem;
  left: 1.8rem;
  background-color: orangered;
  width: 5rem;
  padding: .2rem;
  border: 1px solid black;
}
.rating {
  color: #a1c900;
}
.title {
  font-family: helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
}
.price {
  padding-bottom: 1rem;
  line-height: 1.3rem;
}
.compare-price {
  text-decoration: line-through;
  padding-left: .5rem; 
}
.savings-percent {
  display: block;
}
button {
  border-radius: 0px;
  padding: .5rem;
  background-color: white;
  color: black;
}
button:hover {
  background-color: gainsboro;
}